body {
  margin: 0;
  font-family: 'Inter', system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

.wrapper {
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.64);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

// Header
header {
  padding: 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eaeaea;
  .headerLeft {
    display: flex;
    align-items: center;

    img {
      margin-left: 15px;
    }

    h3{
      text-transform: uppercase;
    }
    h3, p {
      margin: 0;
    }
  }

  .headerRight{
    display: flex;
    align-items: center;

    li{
      margin-right: 30px;
    }
  }
}

.clear {
  *{
    box-sizing: border-box;
    outline: none;
  }
  a{
    color: inherit;
    text-decoration: none;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li{
    list-style-type: none;
  }
}

// Content
.content {
  padding: 40px;
  .h1{
    opacity: 5;
    margin-bottom: 40px;
  }
.sneakers{
  display: flex;
}
  h5{
    font-weight: 400;
    font-size: 14px;
  }
  .card {
    border: 1px solid #f3f3f3;
    padding: 30px;
    width: 220px;
    border-radius: 40px;
    margin-right: 30px;


    .cardBottom{
      display: flex;
      justify-content: space-between;
      text-align: center;
      .cardCostBottom{
        text-align: justify;
        display: flex;
        flex-direction: column;
        span{
          opacity: 0.5;
          text-transform: uppercase;
          font-size: 13px;
        }
        b {
          font-size: 14px;
        }
      }
      .button{
        background: #FFFFFF;
        border: 1px solid #F2F2F2;
        box-sizing: border-box;
        border-radius: 8px;
        height: 32px;
        width: 32px;
        cursor: pointer;
      }
    }
  }

}




